# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [ ]:
%help

####  Run this cell to set up and start your interactive session.

In [1]:
%idle_timeout 2880
%glue_version 3.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 0.37.0
Current idle_timeout is 2800 minutes.
idle_timeout has been set to 2880 minutes.
Setting Glue version to: 3.0
Previous worker type: G.1X
Setting new worker type to: G.1X
Previous number of workers: 5
Setting new number of workers to: 5
Authenticating with environment variables and user-defined glue_role_arn: arn:aws:iam::778725022589:role/AWSGlueServiceRole-charlie
Trying to create a Glue session for the kernel.
Worker Type: G.1X
Number of Workers: 5
Session ID: b8f51bc2-c25b-4f7f-829a-ae8dbf63bb1c
Job Type: glueetl
Applying the following default arguments:
--glue_kernel_version 0.37.0
--enable-glue-datacatalog true
Waiting for session b8f51bc2-c25b-4f7f-829a-ae8dbf63bb1c to get into ready status...
Session b8f51bc2-c25b-4f7f-829a-ae8dbf63bb1c has been created.

In [3]:
# Define parameters
from datetime import datetime
now = datetime.now().strftime('%Y-%m-%d-%H:%M:%S')
bucket = 'imba-glue-output'
folder = 'sprint2-' + now

db = 'rdsdb'
aisles_table = 'postgres_public_aisles'
departments_table = 'postgres_public_departments'
orders_table = 'postgres_public_orders'
products_table = 'postgres_public_products'
order_product_table = 'postgres_public_order_product'

### Create DynamicFrame and convert to SparkDF

In [4]:
aisles_df = glueContext.create_dynamic_frame.from_catalog(database=db, table_name=aisles_table).toDF()
departments_df = glueContext.create_dynamic_frame.from_catalog(database=db, table_name=departments_table).toDF()
orders_df = glueContext.create_dynamic_frame.from_catalog(database=db, table_name=orders_table).toDF()
products_df = glueContext.create_dynamic_frame.from_catalog(database=db, table_name=products_table).toDF()
order_product_df = glueContext.create_dynamic_frame.from_catalog(database=db, table_name=order_product_table).toDF()

In [5]:
orders_df.show()

+--------+-------+--------+------------+---------+-----------------+----------------------+
|order_id|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|
+--------+-------+--------+------------+---------+-----------------+----------------------+
|  393748| 185277|   prior|          78|        1|                9|                   5.0|
|  746725|  38109|    test|          13|        3|               16|                  10.0|
| 2005551|  63647|   prior|           8|        6|               13|                  12.0|
| 1910347|  76116|   prior|           6|        1|               16|                  15.0|
| 1790456|  13736|   prior|          34|        0|               11|                   3.0|
| 1409951| 184881|   prior|           8|        4|               10|                   2.0|
| 2529361|   3777|   prior|          13|        1|               12|                   6.0|
| 2420076|  22301|   prior|          36|        1|                9|                  14.0|
| 3312174|  84953|   prior|           8|        6|               15|                   0.0|
| 2657821| 103554|   prior|          24|        4|               13|                   3.0|
| 1912264| 118079|   prior|           5|        4|               18|                  13.0|
| 2221847| 197422|   train|          29|        1|               19|                   7.0|
|  803196|  54669|   prior|          10|        4|               15|                   6.0|
| 2363312| 164967|   prior|           1|        6|               15|                  null|
| 2861363| 143245|   prior|          43|        3|               21|                   0.0|
| 1721832| 115407|   prior|          10|        6|                7|                  15.0|
|  421591| 176916|   prior|           8|        4|               10|                   6.0|
| 1399569|  13406|   prior|          17|        4|               10|                   5.0|
|  319032| 168890|   prior|          32|        4|               16|                   2.0|
| 2596652|   7175|   prior|          14|        0|               21|                   1.0|
+--------+-------+--------+------------+---------+-----------------+----------------------+
only showing top 20 rows

### create view of order_products_prior

In [6]:
orders_prior_df = orders_df.filter(orders_df['eval_set']=='prior')
joined_order_product = orders_prior_df.join(order_product_df, 'order_id', 'left')

joined_order_product.createOrReplaceTempView('order_products_prior')
orders_df.createOrReplaceTempView('orders_view')

### user_features_1
Based on table orders, for each user, calculate the max order_number, the sum of days_since_prior_order and the average of days_since_prior_order

In [8]:
user_features_1 = spark.sql(
    'select user_id, \n'
    'max(order_number) max_order_number, \n'
    'sum(days_since_prior_order) sum_days_since_prior_order, \n'
    'avg(days_since_prior_order) avg_days_since_prior_order \n'
    'from orders_view \n'
    'group by user_id;'
)
user_features_1.show()

+-------+----------------+--------------------------+--------------------------+
|user_id|max_order_number|sum_days_since_prior_order|avg_days_since_prior_order|
+-------+----------------+--------------------------+--------------------------+
| 161074|              32|                     364.0|        11.741935483870968|
| 190361|               9|                     171.0|                    21.375|
| 114727|               6|                     107.0|                      21.4|
|  97545|              17|                     169.0|                   10.5625|
|  53568|              15|                     233.0|        16.642857142857142|
| 110603|              28|                     319.0|        11.814814814814815|
|  75389|              71|                     365.0|         5.214285714285714|
| 205045|              55|                     364.0|        6.7407407407407405|
| 120536|               9|                      74.0|                      9.25|
| 184659|              32|                     286.0|         9.225806451612904|
|  49646|              40|                     364.0|         9.333333333333334|
|  45293|              15|                     226.0|        16.142857142857142|
|  56185|              20|                     223.0|        11.736842105263158|
| 119218|              27|                     250.0|         9.615384615384615|
| 123062|              21|                     294.0|                      14.7|
| 157390|               9|                     137.0|                    17.125|
| 112030|              57|                     320.0|         5.714285714285714|
|  97321|              32|                     301.0|         9.709677419354838|
|  75493|              15|                     216.0|        15.428571428571429|
|  82727|               7|                     136.0|        22.666666666666668|
+-------+----------------+--------------------------+--------------------------+
only showing top 20 rows

### user_features_2
Based on table order_products_prior, for each user calculate the total number of products, total number of distinct products, and user reorder ratio(number of reordered = 1 divided by number of order_number > 1)

In [10]:
user_features_2 = spark.sql(
    'select user_id, \n'
    'count(product_id) total_products_by_userid, \n'
    'count(distinct(product_id)) total_distinct_products_by_userid, \n'
    'sum(reordered) / count(case when order_number > 1 then 1 else 0 end) user_reorder_ratio \n'
    'from order_products_prior \n'
    'group by user_id;'
)

user_features_2.show()

+-------+------------------------+---------------------------------+-------------------+
|user_id|total_products_by_userid|total_distinct_products_by_userid| user_reorder_ratio|
+-------+------------------------+---------------------------------+-------------------+
|  97664|                     312|                               75| 0.7596153846153846|
|  76863|                      48|                               25| 0.4791666666666667|
|  29570|                     285|                              113| 0.6035087719298246|
| 101099|                     427|                              104| 0.7564402810304449|
|  91370|                     222|                              102| 0.5405405405405406|
| 142249|                     449|                              124| 0.7238307349665924|
| 149535|                      59|                                8|  0.864406779661017|
| 166381|                     316|                              109| 0.6550632911392406|
|  24609|                    1241|                              446| 0.6406124093473006|
|  28483|                      82|                               73|0.10975609756097561|
|  87026|                     649|                              145| 0.7765793528505393|
|  17742|                    1017|                              259| 0.7453294001966568|
|  10649|                     544|                              134| 0.7536764705882353|
| 165000|                     136|                               53| 0.6102941176470589|
|  74889|                     681|                              226| 0.6681350954478708|
|   3387|                     220|                              119| 0.4590909090909091|
|  76646|                     190|                               30| 0.8421052631578947|
|  44474|                     139|                               88| 0.3669064748201439|
| 158834|                     299|                               85| 0.7157190635451505|
|  95403|                      67|                               55| 0.1791044776119403|
+-------+------------------------+---------------------------------+-------------------+
only showing top 20 rows

### up_features
Based on table order_products_prior, for each user and product, calculate the total number of orders, minimum order_number, maximum order_number and average add_to_cart_order

In [11]:
up_features = spark.sql(
    'select user_id, product_id, \n'
    'count(order_id) total_orders_by_userprod, \n'
    'min(order_number) min_ordernumber_byuserprod, \n'
    'max(order_number) max_ordernumber_byuserprod, \n'
    'avg(add_to_cart_order) avg_addtocart_byuserprod \n'
    'from order_products_prior \n'
    'group by user_id, product_id;'
)

up_features.show()

+-------+----------+------------------------+--------------------------+--------------------------+------------------------+
|user_id|product_id|total_orders_by_userprod|min_ordernumber_byuserprod|max_ordernumber_byuserprod|avg_addtocart_byuserprod|
+-------+----------+------------------------+--------------------------+--------------------------+------------------------+
|   4645|     22124|                      28|                         1|                        76|      2.9285714285714284|
|   7440|     13176|                      34|                         5|                        98|       7.176470588235294|
|  30618|     22507|                      14|                         1|                        17|      3.7142857142857144|
| 145501|     14267|                       7|                        11|                        27|                     9.0|
|  58701|     13176|                       4|                        17|                        21|                    6.75|
|  58701|     10070|                       4|                        17|                        21|                    6.25|
| 160646|      2457|                      13|                         1|                        35|      3.3846153846153846|
| 198708|     26209|                      11|                         1|                        34|      4.7272727272727275|
|  63288|      7862|                      12|                         1|                        32|                     2.0|
| 103166|     42536|                      21|                         1|                        48|       4.476190476190476|
|  37804|      4562|                      22|                        11|                        63|       5.636363636363637|
|  39460|      8710|                       3|                        84|                        89|      1.6666666666666667|
|  39460|     42205|                       5|                         3|                        85|                     2.2|
| 194758|     45504|                      23|                         1|                        31|       4.043478260869565|
| 135836|     33493|                       1|                         1|                         1|                     5.0|
| 185594|     30489|                       3|                        11|                        13|      10.666666666666666|
| 185594|     35898|                       1|                        13|                        13|                    15.0|
| 170906|     26369|                       1|                         2|                         2|                     7.0|
|  73968|     19348|                      20|                         2|                        36|                     6.7|
|  28585|     21938|                       4|                         1|                         8|                    3.75|
+-------+----------+------------------------+--------------------------+--------------------------+------------------------+
only showing top 20 rows

### prd_features
Based on table order_products_prior,
- first write a sql query to calculate the sequence of product purchase for each user, and name it product_seq_time
- Then on top of this query, for each product, calculate the count, sum of reordered, count of product_seq_time = 1 and count of product_seq_time = 2.

In [12]:
prd_features = spark.sql(
    'with temp as ( \n'
    'select user_id, \n'
    'order_number, \n'
    'product_id, \n'
    'reordered, \n'
    'rank() over(partition by user_id, product_id order by order_number) product_seq_time \n'
     'from order_products_prior \n'
     ') \n'
     'select product_id, \n'
     'count(product_id) total_products_by_productid, \n'
     'sum(reordered) total_reordered, \n'
     'sum(case when product_seq_time = 1 then 1 else 0 end) product_seq_time_1, \n'
     'sum(case when product_seq_time = 2 then 1 else 0 end) product_seq_time_2 \n'
     'from temp \n'
     'group by product_id;')

prd_features.show()

+----------+---------------------------+---------------+------------------+------------------+
|product_id|total_products_by_productid|total_reordered|product_seq_time_1|product_seq_time_2|
+----------+---------------------------+---------------+------------------+------------------+
|     19057|                      75165|          57201|             17964|             10647|
|     21709|                      32788|          24403|              8385|              4859|
|     24184|                      55280|          35013|             20267|             10313|
|     40286|                         23|              5|                18|                 3|
|     43721|                       1550|           1091|               459|               248|
|     25397|                        201|             61|               140|                27|
|     27138|                         73|             31|                42|                15|
|     37192|                        906|            445|               461|               163|
|      5210|                       1667|            703|               964|               308|
|     28842|                      45530|          25877|             19653|              8945|
|     47626|                     152657|         106255|             46402|             27195|
|       890|                      21997|          10468|             11529|              4284|
|       952|                        782|            139|               643|                84|
|     19508|                      14905|           6681|              8224|              2869|
|     31066|                      10774|           2341|              8433|              1463|
|     37524|                      10101|           5219|              4882|              1862|
|     41959|                        396|            242|               154|                56|
|        29|                        218|             81|               137|                42|
|     19164|                        104|             72|                32|                11|
|       401|                        324|             94|               230|                53|
+----------+---------------------------+---------------+------------------+------------------+
only showing top 20 rows

### make some joins of the above features
- user_features_1 & user_features_2 join for user_features
- user_features join up_features for user_up_features
- user_up_features join prd_features for final_features

In [13]:
user_features = user_features_1.join(user_features_2, 'user_id', 'left')
user_up_features = user_features.join(up_features, 'user_id', 'left')
final_features = user_up_features.join(prd_features, 'product_id', 'left')

final_features.show()

+----------+-------+----------------+--------------------------+--------------------------+------------------------+---------------------------------+-------------------+------------------------+--------------------------+--------------------------+------------------------+---------------------------+---------------+------------------+------------------+
|product_id|user_id|max_order_number|sum_days_since_prior_order|avg_days_since_prior_order|total_products_by_userid|total_distinct_products_by_userid| user_reorder_ratio|total_orders_by_userprod|min_ordernumber_byuserprod|max_ordernumber_byuserprod|avg_addtocart_byuserprod|total_products_by_productid|total_reordered|product_seq_time_1|product_seq_time_2|
+----------+-------+----------------+--------------------------+--------------------------+------------------------+---------------------------------+-------------------+------------------------+--------------------------+--------------------------+------------------------+---------------------------+---------------+------------------+------------------+
|        28|   8712|              14|                     147.0|        11.307692307692308|                     125|                               58|              0.536|                       1|                         6|                         6|                    10.0|                        706|            369|               337|               123|
|        28|  20740|              16|                     275.0|        18.333333333333332|                     193|                               76| 0.6062176165803109|                       2|                        12|                        15|                     1.0|                        706|            369|               337|               123|
|        28|  33478|               9|                     196.0|                      24.5|                      43|                               32| 0.2558139534883721|                       2|                         6|                         8|                     6.5|                        706|            369|               337|               123|
|        28|  38462|             100|                     190.0|        1.9191919191919191|                     697|                              232|  0.667144906743185|                       4|                         4|                        26|                    3.25|                        706|            369|               337|               123|
|        28|  44039|               9|                     178.0|                     22.25|                     169|                              106| 0.3727810650887574|                       1|                         8|                         8|                    30.0|                        706|            369|               337|               123|
|        28|  48820|              65|                     365.0|                  5.703125|                    1251|                              372| 0.7026378896882494|                       2|                        42|                        47|                    28.0|                        706|            369|               337|               123|
|        28|  62381|               4|                      54.0|                      18.0|                     101|                               58|0.42574257425742573|                       3|                         1|                         3|                    12.0|                        706|            369|               337|               123|
|        28|  87617|               4|                      65.0|        21.666666666666668|                      64|                               54|            0.15625|                       1|                         2|                         2|                     5.0|                        706|            369|               337|               123|
|        28| 118506|              51|                     346.0|                      6.92|                     508|                              174|   0.65748031496063|                       1|                        43|                        43|                     6.0|                        706|            369|               337|               123|
|        28| 141442|              32|                     361.0|         11.64516129032258|                     575|                              172| 0.7008695652173913|                       3|                        26|                        30|                    13.0|                        706|            369|               337|               123|
|        28| 142861|               7|                     159.0|                      26.5|                      79|                               62|0.21518987341772153|                       1|                         4|                         4|                     5.0|                        706|            369|               337|               123|
|        28| 147633|              51|                     360.0|                       7.2|                     394|                              171|  0.565989847715736|                       5|                        30|                        49|                     7.2|                        706|            369|               337|               123|
|        28| 165418|               4|                      38.0|        12.666666666666666|                      47|                               30| 0.3617021276595745|                       2|                         1|                         3|                     6.5|                        706|            369|               337|               123|
|        28|    727|              22|                     349.0|         16.61904761904762|                     323|                               73| 0.7739938080495357|                       2|                         7|                        19|                    15.0|                        706|            369|               337|               123|
|        28|   6319|              15|                     217.0|                      15.5|                     198|                              140|0.29292929292929293|                       1|                        12|                        12|                     7.0|                        706|            369|               337|               123|
|        28|  17260|              16|                     227.0|        15.133333333333333|                     298|                              154|0.48322147651006714|                       2|                         6|                        10|                    12.0|                        706|            369|               337|               123|
|        28|  21140|               4|                      90.0|                      30.0|                      16|                               16|                0.0|                       1|                         3|                         3|                     5.0|                        706|            369|               337|               123|
|        28|  42855|              12|                     254.0|         23.09090909090909|                      69|                               39|0.43478260869565216|                       1|                         9|                         9|                     1.0|                        706|            369|               337|               123|
|        28|  47174|              16|                     301.0|        20.066666666666666|                     395|                              100| 0.7468354430379747|                       3|                         7|                        15|      17.333333333333332|                        706|            369|               337|               123|
|        28|  57527|               5|                      84.0|                      21.0|                      56|                               49|              0.125|                       1|                         2|                         2|                     4.0|                        706|            369|               337|               123|
+----------+-------+----------------+--------------------------+--------------------------+------------------------+---------------------------------+-------------------+------------------------+--------------------------+--------------------------+------------------------+---------------------------+---------------+------------------+------------------+
only showing top 20 rows

### final_features write to S3 destination

In [14]:
final_features.coalesce(1).write.option('header', 'true').mode('overwrite').csv(f's3://{bucket}/{folder}/')

#### Example: Write the data in the DynamicFrame to a location in Amazon S3 and a table for it in the AWS Glue Data Catalog

In [ ]:
s3output = glueContext.getSink(
  path="s3://bucket_name/folder_name",
  connection_type="s3",
  updateBehavior="UPDATE_IN_DATABASE",
  partitionKeys=[],
  compression="snappy",
  enableUpdateCatalog=True,
  transformation_ctx="s3output",
)
s3output.setCatalogInfo(
  catalogDatabase="demo", catalogTableName="populations"
)
s3output.setFormat("glueparquet")
s3output.writeFrame(DyF)