# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [ ]:
%help

####  Run this cell to set up and start your interactive session.

In [1]:
%idle_timeout 2880
%glue_version 3.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 0.37.0
Current idle_timeout is 2800 minutes.
idle_timeout has been set to 2880 minutes.
Setting Glue version to: 3.0
Previous worker type: G.1X
Setting new worker type to: G.1X
Previous number of workers: 5
Setting new number of workers to: 5
Authenticating with environment variables and user-defined glue_role_arn: arn:aws:iam::778725022589:role/AWSGlueServiceRole-charlie
Trying to create a Glue session for the kernel.
Worker Type: G.1X
Number of Workers: 5
Session ID: 5ade9428-a300-472e-a53e-30cb13ce3176
Job Type: glueetl
Applying the following default arguments:
--glue_kernel_version 0.37.0
--enable-glue-datacatalog true
Waiting for session 5ade9428-a300-472e-a53e-30cb13ce3176 to get into ready status...
Session 5ade9428-a300-472e-a53e-30cb13ce3176 has been created.

In [7]:
# Define parameters
from datetime import datetime
now = datetime.now().strftime('%Y-%m-%d-%H:%M:%S')
bucket = 'imba-glue-output'
folder = 'sprint3-' + now

db = 'rdsdb'
aisles_table = 'postgres_public_aisles'
departments_table = 'postgres_public_departments'
orders_table = 'postgres_public_orders'
products_table = 'postgres_public_products'
order_product_table = 'postgres_public_order_product'

### Create DynamicFrame and convert to SparkDF

In [3]:
aisles_df = glueContext.create_dynamic_frame.from_catalog(database=db, table_name=aisles_table).toDF()
departments_df = glueContext.create_dynamic_frame.from_catalog(database=db, table_name=departments_table).toDF()
orders_df = glueContext.create_dynamic_frame.from_catalog(database=db, table_name=orders_table).toDF()
products_df = glueContext.create_dynamic_frame.from_catalog(database=db, table_name=products_table).toDF()
order_product_df = glueContext.create_dynamic_frame.from_catalog(database=db, table_name=order_product_table).toDF()

In [4]:
orders_df.show()

+--------+-------+--------+------------+---------+-----------------+----------------------+
|order_id|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|
+--------+-------+--------+------------+---------+-----------------+----------------------+
|  393748| 185277|   prior|          78|        1|                9|                   5.0|
|  746725|  38109|    test|          13|        3|               16|                  10.0|
| 2005551|  63647|   prior|           8|        6|               13|                  12.0|
| 1910347|  76116|   prior|           6|        1|               16|                  15.0|
| 1790456|  13736|   prior|          34|        0|               11|                   3.0|
| 1409951| 184881|   prior|           8|        4|               10|                   2.0|
| 2529361|   3777|   prior|          13|        1|               12|                   6.0|
| 2420076|  22301|   prior|          36|        1|                9|                  14.0|
| 3312174|  84953|   prior|           8|        6|               15|                   0.0|
| 2657821| 103554|   prior|          24|        4|               13|                   3.0|
| 1912264| 118079|   prior|           5|        4|               18|                  13.0|
| 2221847| 197422|   train|          29|        1|               19|                   7.0|
|  803196|  54669|   prior|          10|        4|               15|                   6.0|
| 2363312| 164967|   prior|           1|        6|               15|                  null|
| 2861363| 143245|   prior|          43|        3|               21|                   0.0|
| 1721832| 115407|   prior|          10|        6|                7|                  15.0|
|  421591| 176916|   prior|           8|        4|               10|                   6.0|
| 1399569|  13406|   prior|          17|        4|               10|                   5.0|
|  319032| 168890|   prior|          32|        4|               16|                   2.0|
| 2596652|   7175|   prior|          14|        0|               21|                   1.0|
+--------+-------+--------+------------+---------+-----------------+----------------------+
only showing top 20 rows

### create view of order_products_prior

In [5]:
orders_prior_df = orders_df.filter(orders_df['eval_set']=='prior')
joined_order_product = orders_prior_df.join(order_product_df, 'order_id', 'left')

joined_order_product.createOrReplaceTempView('order_products_prior')
orders_df.createOrReplaceTempView('orders_view')

### user_features_1
Based on table orders, for each user, calculate the max order_number, the sum of days_since_prior_order and the average of days_since_prior_order

In [6]:
user_features_1 = spark.sql(
    'select user_id, \n'
    'max(order_number) max_order_number, \n'
    'sum(days_since_prior_order) sum_days_since_prior_order, \n'
    'avg(days_since_prior_order) avg_days_since_prior_order \n'
    'from orders_view \n'
    'group by user_id;'
)
user_features_1.show()

+-------+----------------+--------------------------+--------------------------+
|user_id|max_order_number|sum_days_since_prior_order|avg_days_since_prior_order|
+-------+----------------+--------------------------+--------------------------+
|  89655|              11|                     170.0|                      17.0|
|  58568|              27|                     364.0|                      14.0|
|  74467|              13|                     120.0|                      10.0|
| 104419|               7|                      99.0|                      16.5|
|  14127|              71|                     231.0|                       3.3|
| 194575|              74|                     363.0|         4.972602739726027|
|  26896|              28|                     340.0|        12.592592592592593|
|   9355|              15|                     224.0|                      16.0|
| 133847|              37|                     342.0|                       9.5|
|  18499|               9|                     145.0|                    18.125|
| 113103|              17|                     270.0|                    16.875|
|  60124|              12|                     230.0|         20.90909090909091|
|  15009|               8|                     166.0|        23.714285714285715|
| 136737|             100|                     284.0|        2.8686868686868685|
|  84946|              35|                     268.0|         7.882352941176471|
|  85407|              31|                     209.0|         6.966666666666667|
|  40991|              15|                     291.0|        20.785714285714285|
| 196949|               4|                      83.0|        27.666666666666668|
|  38543|              15|                     159.0|        11.357142857142858|
| 173375|              77|                     212.0|         2.789473684210526|
+-------+----------------+--------------------------+--------------------------+
only showing top 20 rows

In [8]:
print("Count: ", user_features_1.count())

Count:  206209

In [12]:
# write user_features_1 in parquet in S3
user_features_1.coalesce(1).write.parquet(f's3://{bucket}/sprint3-user-features-1/')

### user_features_2
Based on table order_products_prior, for each user calculate the total number of products, total number of distinct products, and user reorder ratio(number of reordered = 1 divided by number of order_number > 1)

In [13]:
user_features_2 = spark.sql(
    'select user_id, \n'
    'count(product_id) total_products_by_userid, \n'
    'count(distinct(product_id)) total_distinct_products_by_userid, \n'
    'sum(reordered) / count(case when order_number > 1 then 1 else 0 end) user_reorder_ratio \n'
    'from order_products_prior \n'
    'group by user_id;'
)

user_features_2.show()

+-------+------------------------+---------------------------------+-------------------+
|user_id|total_products_by_userid|total_distinct_products_by_userid| user_reorder_ratio|
+-------+------------------------+---------------------------------+-------------------+
|  97664|                     312|                               75| 0.7596153846153846|
| 192552|                     455|                              194| 0.5736263736263736|
| 179774|                     154|                               69|  0.551948051948052|
| 159694|                     660|                              157| 0.7621212121212121|
|  15182|                     219|                               11| 0.9497716894977168|
|  76863|                      48|                               25| 0.4791666666666667|
| 160975|                     542|                              226| 0.5830258302583026|
| 142249|                     449|                              124| 0.7238307349665924|
|  82480|                     292|                              139|  0.523972602739726|
|   9271|                      55|                               43|0.21818181818181817|
|  54869|                      34|                               25| 0.2647058823529412|
|  24609|                    1241|                              446| 0.6406124093473006|
|  87026|                     649|                              145| 0.7765793528505393|
|  17742|                    1017|                              259| 0.7453294001966568|
|  10649|                     544|                              134| 0.7536764705882353|
| 165000|                     136|                               53| 0.6102941176470589|
| 151750|                     207|                               87| 0.5797101449275363|
|  74889|                     681|                              226| 0.6681350954478708|
| 158834|                     299|                               85| 0.7157190635451505|
|  95403|                      67|                               55| 0.1791044776119403|
+-------+------------------------+---------------------------------+-------------------+
only showing top 20 rows

In [14]:
# write user_features_2 in parquet in S3
user_features_2.coalesce(1).write.parquet(f's3://{bucket}/sprint3-user-features-2/')

### up_features
Based on table order_products_prior, for each user and product, calculate the total number of orders, minimum order_number, maximum order_number and average add_to_cart_order

In [15]:
up_features = spark.sql(
    'select user_id, product_id, \n'
    'count(order_id) total_orders_by_userprod, \n'
    'min(order_number) min_ordernumber_byuserprod, \n'
    'max(order_number) max_ordernumber_byuserprod, \n'
    'avg(add_to_cart_order) avg_addtocart_byuserprod \n'
    'from order_products_prior \n'
    'group by user_id, product_id;'
)

up_features.show()

+-------+----------+------------------------+--------------------------+--------------------------+------------------------+
|user_id|product_id|total_orders_by_userprod|min_ordernumber_byuserprod|max_ordernumber_byuserprod|avg_addtocart_byuserprod|
+-------+----------+------------------------+--------------------------+--------------------------+------------------------+
| 202279|     40141|                       5|                         2|                         6|                     5.8|
| 153404|     40545|                       6|                         2|                        27|       6.166666666666667|
|   5738|      5438|                       4|                         3|                        10|                   13.25|
| 102020|     46654|                       6|                         2|                        28|       8.666666666666666|
| 111475|     12276|                       3|                         7|                         9|      2.3333333333333335|
| 185440|      4605|                       1|                         4|                         4|                     3.0|
|  43756|      5479|                      40|                         1|                        40|                   3.175|
|  43756|     44683|                       1|                        26|                        26|                     4.0|
|  36603|     47626|                       4|                         1|                        11|                    4.75|
|  99546|     45854|                       2|                         1|                         2|                     5.5|
|  99546|     24186|                       1|                         2|                         2|                     3.0|
| 179469|     45578|                       1|                         4|                         4|                    14.0|
| 140609|     44142|                       3|                         5|                        81|                     7.0|
| 186816|      9515|                       1|                        14|                        14|                    27.0|
| 146023|     35815|                       2|                        21|                        28|                     9.0|
|  18550|     16325|                       1|                        10|                        10|                    15.0|
|  20663|     39013|                      10|                        19|                        48|                     4.3|
|  20663|     38609|                       3|                        44|                        47|       4.333333333333333|
| 180135|      1511|                      71|                         1|                        99|       2.112676056338028|
|  22836|     21841|                       2|                        18|                        39|                     9.0|
+-------+----------+------------------------+--------------------------+--------------------------+------------------------+
only showing top 20 rows

In [16]:
# write up_features in parquet in S3
up_features.coalesce(1).write.parquet(f's3://{bucket}/sprint3-up-features/')

### prd_features
Based on table order_products_prior,
- first write a sql query to calculate the sequence of product purchase for each user, and name it product_seq_time
- Then on top of this query, for each product, calculate the count, sum of reordered, count of product_seq_time = 1 and count of product_seq_time = 2.

In [17]:
prd_features = spark.sql(
    'with temp as ( \n'
    'select user_id, \n'
    'order_number, \n'
    'product_id, \n'
    'reordered, \n'
    'rank() over(partition by user_id, product_id order by order_number) product_seq_time \n'
     'from order_products_prior \n'
     ') \n'
     'select product_id, \n'
     'count(product_id) total_products_by_productid, \n'
     'sum(reordered) total_reordered, \n'
     'sum(case when product_seq_time = 1 then 1 else 0 end) product_seq_time_1, \n'
     'sum(case when product_seq_time = 2 then 1 else 0 end) product_seq_time_2 \n'
     'from temp \n'
     'group by product_id;')

prd_features.show()

+----------+---------------------------+---------------+------------------+------------------+
|product_id|total_products_by_productid|total_reordered|product_seq_time_1|product_seq_time_2|
+----------+---------------------------+---------------+------------------+------------------+
|     35951|                      57895|          43875|             14020|              8244|
|     13780|                       5136|           1712|              3424|               861|
|     10921|                         39|              8|                31|                 6|
|     47626|                     152657|         106255|             46402|             27195|
|     39275|                     100060|          62922|             37138|             19091|
|     43504|                      11110|           7378|              3732|              1852|
|     32912|                        520|            316|               204|                87|
|     33731|                      45238|          27635|             17603|              8226|
|     47766|                     176815|         134044|             42771|             27429|
|     32839|                       3385|           1581|              1804|               642|
|     31846|                        971|            617|               354|               170|
|      1025|                      11930|           6053|              5877|              2345|
|     37987|                        138|             27|               111|                18|
|     38293|                      26721|          17179|              9542|              4745|
|     28842|                      45530|          25877|             19653|              8945|
|     25647|                       5158|           2428|              2730|               960|
|     18288|                      13086|           7978|              5108|              2137|
|     27454|                       4659|           3250|              1409|               741|
|     41593|                       6315|           2561|              3754|              1087|
|     11262|                        864|            399|               465|               155|
+----------+---------------------------+---------------+------------------+------------------+
only showing top 20 rows

In [18]:
# write prd_features in parquet in S3
prd_features.coalesce(1).write.parquet(f's3://{bucket}/sprint3-prd-features/')

### make some joins of the above features
- user_features_1 & user_features_2 join for user_features
- user_features join up_features for user_up_features
- user_up_features join prd_features for final_features

In [19]:
user_features = user_features_1.join(user_features_2, 'user_id', 'left')
user_up_features = user_features.join(up_features, 'user_id', 'left')
final_features = user_up_features.join(prd_features, 'product_id', 'left')

final_features.show()

+----------+-------+----------------+--------------------------+--------------------------+------------------------+---------------------------------+-------------------+------------------------+--------------------------+--------------------------+------------------------+---------------------------+---------------+------------------+------------------+
|product_id|user_id|max_order_number|sum_days_since_prior_order|avg_days_since_prior_order|total_products_by_userid|total_distinct_products_by_userid| user_reorder_ratio|total_orders_by_userprod|min_ordernumber_byuserprod|max_ordernumber_byuserprod|avg_addtocart_byuserprod|total_products_by_productid|total_reordered|product_seq_time_1|product_seq_time_2|
+----------+-------+----------------+--------------------------+--------------------------+------------------------+---------------------------------+-------------------+------------------------+--------------------------+--------------------------+------------------------+---------------------------+---------------+------------------+------------------+
|        28|    923|              13|                     160.0|        13.333333333333334|                      78|                               64| 0.1794871794871795|                       1|                         3|                         3|                     2.0|                        706|            369|               337|               123|
|        28|  10112|              16|                     220.0|        14.666666666666666|                     110|                               77|                0.3|                       4|                         1|                         5|                     2.5|                        706|            369|               337|               123|
|        28|  47274|              50|                     361.0|          7.36734693877551|                     424|                              127| 0.7004716981132075|                       1|                         7|                         7|                     9.0|                        706|            369|               337|               123|
|        28|  51179|              12|                     240.0|        21.818181818181817|                     105|                               50| 0.5238095238095238|                       4|                         4|                        10|                    7.25|                        706|            369|               337|               123|
|        28|  67229|              13|                     221.0|        18.416666666666668|                     158|                              110| 0.3037974683544304|                       1|                         3|                         3|                     6.0|                        706|            369|               337|               123|
|        28|  71417|               4|                      32.0|        10.666666666666666|                      46|                               37| 0.1956521739130435|                       1|                         3|                         3|                     5.0|                        706|            369|               337|               123|
|        28|  77135|              12|                     195.0|        17.727272727272727|                     175|                               90| 0.4857142857142857|                       1|                         7|                         7|                    19.0|                        706|            369|               337|               123|
|        28|  98807|               7|                      71.0|        11.833333333333334|                      31|                               23|0.25806451612903225|                       2|                         2|                         4|                     5.0|                        706|            369|               337|               123|
|        28| 114522|              15|                     161.0|                      11.5|                      79|                               57|0.27848101265822783|                       2|                        10|                        11|                     4.5|                        706|            369|               337|               123|
|        28| 115539|              66|                     358.0|         5.507692307692308|                     613|                              194| 0.6835236541598695|                       4|                         2|                        52|                    13.5|                        706|            369|               337|               123|
|        28| 123171|               4|                      58.0|        19.333333333333332|                      22|                               20|0.09090909090909091|                       1|                         2|                         2|                     7.0|                        706|            369|               337|               123|
|        28| 129610|              13|                     217.0|        18.083333333333332|                     155|                               98|0.36774193548387096|                       1|                        10|                        10|                     7.0|                        706|            369|               337|               123|
|        28| 132200|              13|                     194.0|        16.166666666666668|                     128|                               41|          0.6796875|                       2|                         2|                         5|                     8.5|                        706|            369|               337|               123|
|        28| 148815|              58|                     359.0|         6.298245614035087|                     367|                              186|0.49318801089918257|                       1|                        29|                        29|                     3.0|                        706|            369|               337|               123|
|        28| 153664|               8|                     173.0|        24.714285714285715|                      56|                               39|0.30357142857142855|                       2|                         1|                         4|                     4.5|                        706|            369|               337|               123|
|        28| 154139|               5|                      49.0|                     12.25|                      29|                               25|0.13793103448275862|                       1|                         1|                         1|                     6.0|                        706|            369|               337|               123|
|        28| 170958|              13|                     206.0|        17.166666666666668|                     175|                               78| 0.5542857142857143|                       1|                         8|                         8|                    15.0|                        706|            369|               337|               123|
|        28| 175693|              14|                     182.0|                      14.0|                     143|                               82|0.42657342657342656|                       5|                         1|                        13|                     4.4|                        706|            369|               337|               123|
|        28| 181242|               8|                     174.0|        24.857142857142858|                      73|                               52| 0.2876712328767123|                       5|                         1|                         7|                     2.8|                        706|            369|               337|               123|
|        28| 206094|              10|                      87.0|         9.666666666666666|                      50|                               39|               0.22|                       1|                         5|                         5|                    10.0|                        706|            369|               337|               123|
+----------+-------+----------------+--------------------------+--------------------------+------------------------+---------------------------------+-------------------+------------------------+--------------------------+--------------------------+------------------------+---------------------------+---------------+------------------+------------------+
only showing top 20 rows

### final_features write to S3 destination

In [14]:
final_features.coalesce(1).write.option('header', 'true').mode('overwrite').csv(f's3://{bucket}/{folder}/')

In [20]:
# write final_features in parquet in S3
final_features.coalesce(1).write.parquet(f's3://{bucket}/sprint3-final-features/')

#### Example: Write the data in the DynamicFrame to a location in Amazon S3 and a table for it in the AWS Glue Data Catalog

In [ ]:
s3output = glueContext.getSink(
  path="s3://bucket_name/folder_name",
  connection_type="s3",
  updateBehavior="UPDATE_IN_DATABASE",
  partitionKeys=[],
  compression="snappy",
  enableUpdateCatalog=True,
  transformation_ctx="s3output",
)
s3output.setCatalogInfo(
  catalogDatabase="demo", catalogTableName="populations"
)
s3output.setFormat("glueparquet")
s3output.writeFrame(DyF)